<!-- Shoping Mall -->
<ion-view view-title="Event Check-in">

        
<ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider" style="height: 30%">
    <ion-slide-page>
      <div class="box blue" style="background-color: blue; height: 100%"><h1>BLUE</h1></div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box yellow" style="background-color: yellow; height: 100%"><h1>YELLOW</h1></div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box pink" style="background-color: pink; height: 100%"><h1>PINK</h1></div>
    </ion-slide-page>
  </ion-slides>
</ion-content>

</ion-view>