<!-- Shoping Mall -->
<ion-view view-title="會員中心"> <ion-content> <!-- 

<ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Group {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
        </div> ng-class="{'item-icon-rigth' : true}"
      </ion-list>
   -->
<a href="#/main/textInput" class="item positive-bg" menu-close>文本框</a>
<div class="list">
	<div ng-repeat="menu in menus">
		<div class="item item-icon-left"
			ng-class="{'item-icon-right': !menu.isLeaf}" ng-click="touch(menu)">
			<i class="icon {{menu.iconCls}}"></i>
			<h2>{{menu.name}}</h2>
			<i ng-if="!menu.isLeaf" class="icon ion-ios-arrow-right"></i>
		</div>

		<div class="item item-icon-left"
			ng-repeat="child in menu.children" ng-show="isExpanded(menu)"
			ng-click="touch(child)"
			ui-sref='main'>
			<i class="icon {{child.iconCls}}"></i>
			<h2>{{child.name}}</h2>
		</div>
	</div>
</div>

<!-- 
<div class="item item-stable item-icon-left item-icon-right"
	ng-click="toggleGroup(menu)" ng-class="{active: isGroupShown(menu)}">
	<i class="icon {{menu.iconCls}}"></i>
	<h2>{{menu.name}}</h2>
	<i ng-if="menu.children.length > 0" class="icon ion-ios-arrow-right"></i>
</div>
 --> </ion-content> </ion-view>